In [1]:
import pandas as pd

C:\Users\VICTOR\AppData\Local\Temp\ipykernel_10336\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('data/dataset.csv')

In [3]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1025
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     108000
Country             0
dtype: int64

In [4]:
df.dropna(inplace=True)

In [6]:
df['Quantity'] = df['Quantity'].astype(str)
df['UnitPrice'] = df['UnitPrice'].astype(str)
df['CustomerID'] = df['CustomerID'].astype(str)

In [7]:
df['Description'] = df['Description'].fillna('No Description')

In [8]:
df = df.dropna(subset=['CustomerID'])

In [9]:
df['Quantity'] = df['Quantity'].str.replace('[^0-9\-]', '', regex=True).astype(int)
df['UnitPrice'] = df['UnitPrice'].str.replace('[^0-9\.]', '', regex=True).astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\-'
<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\-'
<>:2: SyntaxWarning: invalid escape sequence '\.'
C:\Users\VICTOR\AppData\Local\Temp\ipykernel_10336\4099942156.py:1: SyntaxWarning: invalid escape sequence '\-'
  df['Quantity'] = df['Quantity'].str.replace('[^0-9\-]', '', regex=True).astype(int)
C:\Users\VICTOR\AppData\Local\Temp\ipykernel_10336\4099942156.py:2: SyntaxWarning: invalid escape sequence '\.'
  df['UnitPrice'] = df['UnitPrice'].str.replace('[^0-9\.]', '', regex=True).astype(float)

In [10]:
df = df.dropna(subset=['CustomerID'])

In [11]:
df = df[df['CustomerID'] != '']

In [13]:
df['CustomerID'] = pd.to_numeric(df['CustomerID'], errors='coerce')

In [14]:
df = df.dropna(subset=['CustomerID'])

In [15]:
df['CustomerID'] = df['CustomerID'].astype(int)

In [16]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [18]:
df['StockCode'] = df['StockCode'].str.replace('[^\w]', '', regex=True)
df['Country'] = df['Country'].str.replace('[^\w\s]', '', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
C:\Users\VICTOR\AppData\Local\Temp\ipykernel_10336\2835205886.py:1: SyntaxWarning: invalid escape sequence '\w'
  df['StockCode'] = df['StockCode'].str.replace('[^\w]', '', regex=True)
C:\Users\VICTOR\AppData\Local\Temp\ipykernel_10336\2835205886.py:2: SyntaxWarning: invalid escape sequence '\w'
  df['Country'] = df['Country'].str.replace('[^\w\s]', '', regex=True)

In [19]:
df = df.drop_duplicates()

In [20]:
df_info_cleaned = df.info()
df_head_cleaned = df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 325046 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    325046 non-null  object
 1   StockCode    325046 non-null  object
 2   Description  325046 non-null  object
 3   Quantity     325046 non-null  int32
 4   InvoiceDate  325046 non-null  datetime64[ns]
 5   UnitPrice    325046 non-null  float64
 6   CustomerID   325046 non-null  int32
 7   Country      325046 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), object(4)
memory usage: 19.8+ MB

In [23]:
df_head_cleaned.to_csv('data/clean_data.csv', index=False)